# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [2]:
languages = ['Python', 'R', 'Julia', 'Scala']
for index, language in enumerate(languages, start=1):
    print(f"{index}. {language}")

1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:

Some of the commonly used libraries used by Data Scientists include:

In [3]:
libraries = ['NumPy', 'pandas', 'scikit-learn', 'TensorFlow']
for index, library in enumerate(libraries, start=1):
    print(f"{index}. {library}")

1. NumPy
2. pandas
3. scikit-learn
4. TensorFlow

Data Science Tools and Ecosystem

In [4]:
print("| Data Science Tools |")
print("|--------------------|")
print("| Jupyter Notebook   |")
print("| RStudio            |")
print("| Apache Zeppelin    |")

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

In [5]:
heading_text = "Below are a few examples of evaluating arithmetic expressions in Python."
h3_heading = f"### {heading_text}"

print(h3_heading)

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3*4) + 5
print(result)

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce commonly used libraries in Data Science.
- Explore development environment tools for Data Science.
- Demonstrate evaluation of arithmetic expressions in Python.
- Convert minutes to hours using Python.

## Lakshmi Holla
Sameed Chaudhary